<!-- !PAGE CONTENT! -->
<div class="w3-white content-wrapper">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-center w3-padding-16">악세사리 ACC</div>
  </div>

  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="w3-quarter">
        <img src="static/products/acc1.jpg" alt="acc1" style="width:100%">
        <h3> BLUE ELEPHANT</h3>
        <p><a href="{{url_for('acc_buy')}}">
            TED silver-black</a></p>
        <p>49,500원</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/products/acc2.jpg" alt="acc2" style="width:100%">
        <h3>CO2000CR06NA</h3>
        <p>부클 쿠퍼 로고 크루넥 네이비</p>
        <p>48,300원</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/products/acc3.jpg" alt="acc3" style="width:100%">
        <h3>Cherries, interrupted</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <p>72,500원</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/products/acc4.jpg" alt="acc4" style="width:100%">
        <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
        <p>53,500원</p>
      </div>
    </div>

    <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
      <div class="w3-quarter">
        <img src="/static/products/acc5.jpg" alt="acc5" style="width:100%">
        <h3>All I Need Is a Popsicle</h3>
        <p>89,500원</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/products/acc6.jpg" alt="acc6" style="width:100%">
        <h3>Salmon For Your Skin</h3>
        <p>37,500원</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/products/acc7.jpg" alt="acc7" style="width:100%">
        <h3>The Perfect Sandwich, A Real Classic</h3>
        <p>13,500원</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/products/acc8.jpg" alt="acc8" style="width:100%">
        <h3>Le French</h3>
        <p>65,500원</p>
      </div>
    </div>
    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
        <a href="#" class="w3-bar-item w3-black w3-button">1</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
        <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
      </div>
    </div>

    <hr id="about">

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
      <h3>About us, shop like us</h3><br>
      <img src="/static/products/chef.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800"
        height="533">
      <div class="w3-padding-32">
        <h4><b>I am Who I Am!</b></h4>
        <h6><i>With Passion For Real, Good Food</i></h6>
        <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest
          of
          lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed
          tellus
          ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
          fringilla.
          Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
          congue gravida diam non fringilla.</p>
      </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
      <div class="w3-third">
        <h3>FOOTER</h3>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
          congue gravida diam non fringilla.</p>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
      </div>

      <div class="w3-third">
        <h3>BLOG POSTS</h3>
        <ul class="w3-ul w3-hoverable">
          <li class="w3-padding-16">
            <img src="/static/products/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Lorem</span><br>
            <span>Sed mattis nunc</span>
          </li>
          <li class="w3-padding-16">
            <img src="/static/products/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Ipsum</span><br>
            <span>Praes tinci sed</span>
          </li>
        </ul>
      </div>

      <div class="w3-third w3-serif">
        <h3>POPULAR TAGS</h3>
        <p>
          <span class="w3-tag w3-black w3-margin-bottom">Shopping</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">T-shrit</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">pants</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">knit</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
          <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span
            class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
        </p>
      </div>
    </footer>

    <!-- End page content -->
  </div>
</div>
<script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
</script>

</body>

</html>