<body class="hold-transition login-page">
    <div class="content-wrapper">
        <div class="login-box">
            <div class="login-logo">
                <b>6조 쇼핑몰 로그인</b>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">

                    <form method="POST">
                        <div class="input-group mb-3">
                            <!-- required 속성을 사용하면 입력하지 않고는 form 전송이 않된다 -->
                            <input type="text" name="uid" class="form-control" placeholder="아이디" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="upw" class="form-control" placeholder="비밀번호" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <input type="submit" class="btn btn-primary btn-block" value='로그인'></input>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>

                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->

    </div>
</body>