<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<head>
  {% include "bf_public/head.html" %}
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {% include "bf_public/nav.html" %}
    {% include "bf_public/menu.html" %}
    {% include "bf_subPages/login.html" %}
    {% include "bf_public/footer.html" %}
    {% include "bf_public/aside.html"  %}



</div>
{% include "bf_public/js.html" %}

</body>

</html>