<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"><b>{{session['uid']}}</b> 님 환영합니다!</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h2 class="card-title"><i>
                                        <h2>이번달 신상</h2>
                                    </i></h2>
                            </div>
                        </div>

                        <div class="w3-row-padding w3-padding-16 w3-center" id="food">
                            <div class="w3-quarter">
                                <img src="static/products/acc1.jpg" alt="acc1" style="width:100%">
                                <h3> BLUE ELEPHANT</h3>
                                <p><a href="{{url_for('new_acc_buy')}}">
                                        TED silver-black</a></p>
                                <p>49,500원</p>
                            </div>
                            <div class="w3-quarter">
                                <img src="//image.musinsa.com/images/goods_img/20190329/999449/999449_4_320.jpg"
                                    alt="top2" style="width:100%">
                                <h3>브렌슨</h3>
                                <p>[패키지] 루즈핏 조거 트레이닝 스웨트 팬츠</p>
                                <p>35,900원</p>
                            </div>
                            <div class="w3-quarter">
                                <img src="/static/products/top2.jpg" alt="top2" style="width:100%">
                                <h3>CO2000CR06NA</h3>
                                <p>부클 쿠퍼 로고 크루넥 네이비</p>
                                <p>48,300원</p>
                            </div>
                            <div class="w3-quarter">
                                <img src="/static/products/acc3.jpg" alt="acc3" style="width:100%">
                                <h3>Cherries, interrupted</h3>
                                <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
                                <p>72,500원</p>
                            </div>

                        </div>
                        <!-- /.card -->
                        <div class="card">

                            <div class="card">
                                <div class="card-header border-0">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title"><i>
                                                <h2>이번주 랭킹</h2>
                                            </i></h3>
                                    </div>


                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-striped table-valign-middle">
                                        <thead>
                                            <tr>
                                                <th>제품</th>
                                                <th>가격</th>
                                                <th>구매횟수</th>
                                                <th>자세히</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>[디네댓]ARC-Logo hooded Sweatshirt Grey</p>
                                                </td>
                                                <td>69,700원</td>
                                                <td>
                                                    <small class="text-success mr-1">
                                                        <i class="fas fa-arrow-up"></i>
                                                        12%
                                                    </small>
                                                    12,000 Sold
                                                </td>
                                                <td>
                                                    <a href="{{url_for('new_top_buy')}}" class="text-muted">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    토피 와이드 데님 팬츠 (DEEP GREY)
                                                </td>
                                                <td>39,000원</td>
                                                <td>
                                                    <small class="text-warning mr-1">
                                                        <i class="fas fa-arrow-down"></i>
                                                        0.5%
                                                    </small>
                                                    8700 Sold
                                                </td>
                                                <td>
                                                    <a href="{{url_for('new_pants_buy')}}" class="text-muted">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    아디브레이크 팬츠 - 블랙 / GN2807
                                                </td>
                                                <td>65,900원</td>
                                                <td>
                                                    <small class="text-danger mr-1">
                                                        <i class="fas fa-arrow-down"></i>
                                                        3%
                                                    </small>
                                                    5000 Sold
                                                </td>
                                                <td>
                                                    <b>sold out</b>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    BLUE ELEPHANT TED silver-black
                                                    <span class="badge bg-danger">NEW</span>
                                                </td>
                                                <td>49,500원</td>
                                                <td>
                                                    <small class="text-success mr-1">
                                                        <i class="fas fa-arrow-up"></i>
                                                        63%
                                                    </small>
                                                    3780 Sold
                                                </td>
                                                <td>
                                                    <a href="{{url_for('new_acc_buy')}}" class="text-muted">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                    <div class="col-lg-6">

                        <!-- /.card -->

                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->