<body class="w3-light-grey">
    <form method="post">
        <div class="content-wrapper">
            <!-- Page Container -->
            <div class="w3-content w3-margin-top" style="max-width:1600px;">
                <!-- The Grid -->
                <div class="w3-row-padding">

                    <!-- Left Column -->
                    <div class="w3-third">
                        <div class="w3-white w3-text-grey w3-card-4">
                            <div class="w3-display-container">
                                <img src="//image.msscdn.net/images/goods_img/20181025/890338/890338_8_500.jpg"
                                    style="width:90%;" alt="top1" name='top_image'>
                            </div>
                            <div class="w3-container">
                                <div class="w3-text-black">
                                    <h3>[TOFFEE]</h3>
                                    <h4>와이드 데님 팬츠 (DEEP GREY)</h4>
                                </div>
                                <br>
                                <p><b>TOFFEE</b></p>
                                <p><b>시즌</b> 2020SS</p>
                                <p><b>성별</b> 남</p>
                                <p><b>가격</b> 39.000원</p>
                                <hr>

                                <p class="w3-large"><b><i
                                            class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>고객만족도</b></p>
                                <p>실용성</p>
                                <div class="w3-light-grey w3-round-xlarge w3-small">
                                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%
                                    </div>
                                </div>
                                <p>편리성</p>
                                <div class="w3-light-grey w3-round-xlarge w3-small">
                                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">
                                        <div class="w3-center w3-text-white">70%</div>
                                    </div>
                                </div>
                                <p>재질</p>
                                <div class="w3-light-grey w3-round-xlarge w3-small">
                                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:60%">60%
                                    </div>
                                </div>
                                <p>가격</p>
                                <div class="w3-light-grey w3-round-xlarge w3-small">
                                    <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div><br>

                        <!-- End Left Column -->
                    </div>

                    <!-- Right Column -->
                    <div class="w3-twothird">
                        <!-- 상품 정보 & 선택 -->
                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16" id='top_name'>와이드 데님 팬츠 (DEEP GREY)</h2>

                            <div class="w3-container">
                                <h5 class="w3-opacity"><b>지금 주문시 배송예정일</b></h5>
                                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>5일 도착</h6>
                                <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur
                                    est
                                    reprehenderit
                                    sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
                                </p>
                                <hr>
                            </div>
                            <div class="w3-container">
                                <h5 class="w3-opacity"><b>토피</b></h5>
                                <h6 class="w3-text-teal">Since 2015</h6>
                                <p>토피(TOFFEE)는 트렌디한 스타일의 아이템을 절제된 디테일과 다양한 컬러로 표현하며 합리적인 가격으로 선보이는 브랜드입니다.
                                </p>
                                <hr>
                            </div>

                            <div class="w3-container ">
                                <!-- 옵션 선택 버튼 -->

                                <div class="option_box_grey box_option_inventory">
                                    <div id="goods_opt_area" class="option_cont">
                                        <!-- 상품 옵션 선택(고정) -->

                                        <select id="option1" name="option1" class="option1">
                                            <option>와이드 데님 팬츠 (DEEP GREY)</option>
                                        </select>
                                        <!-- 사이즈 옵션 선택 -->
                                        <select id="option2" name="option2" class="option2"
                                            onchange="prepareOrder.selectOption('624932','0', '1', '0', '3', '', '1', '999', this)">
                                            <option value="" selected="selected">옵션 선택</option>
                                            <option value="S" data-txt="S" jaego_yn="Y">S</option>
                                            <option value="M" data-txt="M" jaego_yn="Y">M</option>
                                            <option value="L" data-txt="L" jaego_yn="Y">L</option>
                                        </select>
                                        <select id="option3" name="option3" class="option3" required>
                                            <option value="" selected="selected">수량선택</option>
                                            <option value="1" data-txt="1" jaego_yn="Y">1</option>
                                            <option value="2" data-txt="2" jaego_yn="Y">2</option>
                                            <option value="3" data-txt="3" jaego_yn="Y">3</option>
                                            <option value="4" data-txt="4" jaego_yn="Y">4</option>
                                            <option value="5" data-txt="5" jaego_yn="Y">5</option>
                                            <option value="6" data-txt="6" jaego_yn="Y">6</option>
                                        </select>
                                        <input name='to_cart' type="submit" class="btn btn-default btn-sm"
                                            value="장바구니 담기" />

                                    </div>
                                </div>
                                <div>
                                    <br>
                                    <a href="{{url_for('my_page')}}" type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>장바구니 확인
                                    </a>
                                </div>
                            </div>
                            <br>
                        </div>
                        <!-- // 상품 정보 -->

                        <!-- 사이즈 정보 -->
                        <div class="w3-container w3-card w3-white w3-margin-bottom">
                            <div class="box_material">
                                <!--사이즈정보-->
                                <h2 class="w3-text-grey w3-padding-16"><span class="korSub">사이즈 정보</span></h2>
                                <table class="table_th_grey">
                                    <tr>
                                        <th>사이즈</th>
                                        <th>총장</th>
                                        <th>허리단면</th>
                                        <th>허벅지단면</th>
                                        <th>밑위</th>
                                        <th>밑단단면</th>
                                    </tr>
                                    <tr>
                                        <td>S </td>
                                        <td>103</td>
                                        <td>37</td>
                                        <td>30</td>
                                        <td>27</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>M <span class="w3-tag w3-teal w3-round">품절임박</span></td>
                                        <td>105</td>
                                        <td>39</td>
                                        <td>31.5</td>
                                        <td>28</td>
                                        <td>22.5</td>
                                    </tr>
                                    <tr>
                                        <td>L</td>
                                        <td>106</td>
                                        <td>41</td>
                                        <td>33</td>
                                        <td>29</td>
                                        <td>23</td>
                                    </tr>
                                </table>
                                <br>
                                <div class="product-note-box">
                                    <i class="ic-30-stencil-exclamation"></i>
                                    <ul class="n-info-txt">
                                        <li>하단의 상품 상세 설명란의 사이즈표는 업체 기준 측정입니다.</li>
                                        <li>모니터해상도, 컬러설정에 따라 제품이 왜곡되거나 컬러가 다르게 보일 수 있습니다.</li>
                                        <li>사이즈 실측의 경우 제품의 특성및 측정방식에 따라 오차가 발생할 수 있습니다.</li>
                                    </ul>
                                </div>
                                <!--//사이즈정보-->
                            </div>
                        </div>
                        <!--  //사이즈 정보-->

                        <!-- End Right Column -->
                        <!-- End Grid -->
                    </div>

                    <!-- End Page Container -->
                </div>
            </div>
        </div>
    </form>

    <script>


        $('[name=to_cart]').on('click', (event) => {
            alert('장바구니에 담겼습니다.')
        })
        
        </script>
</body>

</html>