<html lang="ko" class="narrow-screen">
<head>
		
	<link rel="stylesheet" href="https://cdnimg.melon.co.kr/static/web/resource/style/w1/76/e/bvi69ssvs0qsit.css" type="text/css">
	<link rel="stylesheet" href="https://cdnimg.melon.co.kr/static/web/resource/style/w1/ri/4/rw98ltzfrqdnf.css" type="text/css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link rel="stylesheet" href="https://cdnimg.melon.co.kr/static/web/resource/style/w1/vf/4/wpbdcfpasvw7tncxn.css" type="text/css"> 
  		
</head>
<body>
	<!--  header -->
		<div id="header_wrap" class="my_fold">  
			<div id="gnb" class="clfix">
				<!-- 빠른 메뉴 -->
				<div id="util_menu">
					<p class="none">상단 빠른 메뉴</p>
					<div class="top_right ">
						<ul class="clfix">
							<li class="last_child"><a href="/new_notice" title="공지사항" class="menu04 mlog" data="LOG_PRT_CODE=1&amp;MENU_PRT_CODE=0&amp;MENU_ID_LV1=&amp;CLICK_AREA_PRT_CODE=V02&amp;ACTION_AF_CLICK=V1"><span>공지사항</span></a></li>
						</ul>
					</div>
				</div>
				<!-- //빠른 메뉴 -->
				<form style="display: none" id="searchFrm" method="get" action="">
					<input type="hidden" name="q">
					<input type="hidden" name="section">
				</form>
</div>
</div>

	<!-- //header -->
	<div id="cont_wrap" class="clfix">
		<div id="conts_section" class="my_fold">
			<!-- contents -->
	
<script type="text/javascript" src="/resource/script/web/common/pager.js?2031011"></script>
<!-- contents -->
				<div id="conts">
					<h2 class="f_tit">이벤트</h2>
					<div class="wrap_tab03 type03">
						<ul>
							<li class="first_child on">
								<a href="/event/index.htm" class="link_tab">
									<span class="cntt">진행중인 이벤트</span>
								</a>
							</li>
							<li>
								<a href="/event/vip/index.htm" class="link_tab">
									<span class="cntt">서비스 혜택관</span>
								</a>
							</li>
							<li>
								<a href="/event/last/index.htm" title="지난 이벤트 - 페이지 이동" class="link_tab">
									<span class="cntt">지난 이벤트</span>
								</a>
							</li>
							<li class="last_child">
								<a href="/event/winner/index.htm" title="당첨자 발표 - 페이지 이동" class="link_tab">
									<span class="cntt">당첨자 발표</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="wrap_tab02 page_move">
						<ul class="tab_ul02">
							<li class="tab_li02 first_child on"><a href="" class="link_tab02" title="전체 - 페이지 이동">전체</a></li>
	                        <li class="tab_li02"><a href="" class="link_tab02" title="이벤트 - 페이지 이동">Top 이벤트</a></li>
	                        <li class="tab_li02"><a href="" class="link_tab02" title="이벤트 - 페이지 이동">추첨 이벤트</a></li>
	                        <li class="tab_li02"><a href="" class="link_tab02" title="이벤트 - 페이지 이동">리뷰 이벤트</a></li>
	                        <li class="tab_li02 last_child"><a href="" class="link_tab02" title="이벤트 - 페이지 이동">추천 이벤트</a></li>
						</ul>
					</div>
					<!-- 이벤트 배너 -->
					<div class="wrap_event_baner">
						<h3 class="none">진행중인 이벤트 배너</h3>

						<!-- 배너 컨트롤러 -->
						<div class="wrap_baner_control">
							<span class="shadow"></span>
							<button type="button" title="진행중인 이벤트 배너 이전 보기" class="btn_player_pre "><span class="odd_span">이전</span></button>
							<button type="button" title="진행중인 이벤트 배너 재생" class="btn_player_play " style="display: none;"><span class="odd_span">재생</span></button>
							<button type="button" title="진행중인 이벤트 배너 일시 정지" class="btn_player_pause " style=""><span class="odd_span">일시정지</span></button>
							<button type="button" title="진행중인 이벤트 배너 다음 보기" class="btn_player_next"><span class="odd_span">다음</span></button>
						</div>
						<!-- //배너 컨트롤러 -->
						<div class="inner_wrap">
								                   				
							<!-- 배너1 -->
								<div class="event_baner"><!-- class="on" 만 삽입 제거해 주세요 -->
									<h4 class="tab01">
									 	<a href="/aa" title="이벤트 보기">
											<span class="wrap_thumb">
												<span class="thumb_frame"></span>
												<img width="68" height="50" src="" alt="배너 이미지">
											</span>
											<span class="event_name">크리스마스 50 % 할인 이벤트</span>
										</a>
									</h4>
									<div class="event_cntt">
										<a href="/aa" title="이벤트 이동">
											<span class="baner_frame"></span>
											<img width="672" height="265" src="https://cdnimg.melon.co.kr/svc/images/promotion/web/202012/33467/214161454_detail_4.jpg" alt="배너 이미지">
										</a>
									</div>
								</div>
							
							<!-- 배너2 -->
							
								<div class="event_baner"><!-- class="on" 만 삽입 제거해 주세요 -->
									<h4 class="tab02">
									 	<a href="bb" title="이벤트 보기">
											<span class="wrap_thumb">
												<span class="thumb_frame"></span>
												<img width="68" height="50" src="" alt="배너 이미지">
											</span>
											<span class="event_name">2020년 결산 이벤트</span>
										</a>
									</h4>
									<div class="event_cntt">
										<a href="/kk" title="이벤트 이동">
											<span class="baner_frame"></span>
											<img width="672" height="265" src="" alt="배너 이미지">
										</a>
									</div>
								</div>
			
							<!-- 배너3 -->
								<div class="event_baner on"><!-- class="on" 만 삽입 제거해 주세요 -->
									<h4 class="tab03">
									 	<a href="/ll" title="이벤트 보기">
											<span class="wrap_thumb">
												<span class="thumb_frame"></span>
												<img width="68" height="50" src="" alt="배너 이미지">
											</span>
											<span class="event_name">겨울 신상품 발매 이벤트</span>
										</a>
									</h4>
									<div class="event_cntt">
										<a href="//aa" title="이벤트 이동">
											<span class="baner_frame"></span>
											<img width="672" height="265" src="" alt="이벤트 배너 이미지">
										</a>
									</div>
								</div>
							
							<!-- 배너4 -->		 
								<div class="event_baner"><!-- class="on" 만 삽입 제거해 주세요 -->
									<h4 class="tab04">
									 	<a href="/tt" title="이벤트 보기">
											<span class="wrap_thumb">
												<span class="thumb_frame"></span>
												<img width="68" height="50" src="" alt="배너이미지">
											</span>
											<span class="event_name"> 1+1 행사 이벤트</span>
										</a>
									</h4>
									<div class="event_cntt">
										<a href="/tt" title="이벤트 이동">
											<span class="baner_frame"></span>
											<img width="672" height="265" src="" alt="배너 이미지">
										</a>
									</div>
								</div>
							<!-- //배너 -->
						</div>
					</div>
					
					<!-- //이벤트 배너 -->
					<!-- 진행중인 이벤트 리스트 -->
					<div class="wrap_event_list">
						<div class="wrap_serch">
					        <div class="search_totcnt">
					        </div>
						    <input type="text" id="keyword" name="keyword" title="이벤트 제목/경품 검색어 입력창" placeholder="검색어를 입력해 주세요." value="" class="">
						    <button type="button" title="이벤트 검색" class="btn_base d_scrap" onclick="javascript:fn_search_list();"><span class="odd_span"><span class="even_span">검색</span></span></button>
						</div>
						<div id="wrap_event_list">
	             			

<script type="text/javascript" src="https://cdnimg.melon.co.kr/statistics/js/pvlog.js"></script>
<script type="text/javascript">
//2016.04.15 KKJ pvlog에서 POC_ID를 사용하여 선 조회하도록 변경함.
var httpWww = "";
var httpsWww = "";
var POC_ID = getCookie("POC"); //POC_ID 기본값을 쿠키에서 가져와서 세팅 (160721:choiyg)
var UA_TYPE_CODE = "";
var ANDROID_VERSION = "";

$(document).ready(function() {
	POC_ID = getCookie("POC");
	if(POC_ID == "" || typeof POC_ID == "undefined" || POC_ID == "XXXX" || POC_ID == "STON"){
		$.ajax({
			async:false,
			url: '/common/useragent_info.json',
			dataType: 'json',
			error: function(request, status, error) {},
			success: function(data){
				setCookie("POC", data.pocId, 10, "/", ".melon.com");
			}

		});
		POC_ID = getCookie("POC");
	}
	
});
</script>

<div style="display:none !important;" data-logging="https://log.melon.com/pv?log=@CR2@%5E@CR3@%5E@CR4@%5E%5E1000000382%5E@CR1@%5E@CR5@%5EN10032%5E%5E%5E%5E%5E%5E%5E%5E%5E" menu-id="1000000382"></div>


<!-- 이벤트 -->
<div class="wrap_list_event">
            <div class="list_event">
                <ul class="list_event_ul clfix">
                        <li>
                            <div class="box_event">
                                <a href="/ss" title="" class="wrap_thumb">
                                    <span class="thumb_frame"></span>
                                    <img width="194" height="146" src="" alt="이벤트 배너 이미지">
                                    <!-- <img src="/resource/image/web/sample/@image_232x108.jpg" width="232" height="108" alt="" /> -->
                                </a>
                                <div class="event_info">
                                    
                                    <p class="gubun">[이벤트1]</p>
                                    <p class="eventname">
                                    	<a href="/ss" >겨울 신상품 방출 이벤트</a>
                                    </p>
                                    <dl>
                                        <dt>기간</dt> 
                                                <dd>2020.12.15 ~ 2020.12.29</dd>
                                            
                                        <dt>경품</dt>
                                        <dd>신발 3명</dd>
                                        <dt>발표</dt>
                                        <dd>
                                            2021.01.05
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>
                				
                        <li>
                            <div class="box_event">
                                <a href="/ss" class="wrap_thumb">
                                    <span class="thumb_frame"></span>
                                   	 
                                    <img width="194" height="146" src="" alt="배너 이미지">
                                    <!-- <img src="/resource/image/web/sample/@image_232x108.jpg" width="232" height="108" alt="[멜론혜택관] 이모티콘 프로모션 (엉뚱해도괜찮아) 배너 이미지" /> -->
                                </a>
                                <div class="event_info">
                                                                     
                                    <p class="gubun">[이벤트2]</p>
                                    <p class="eventname">
                                    	<a href="/ss" >배송 무료 쿠폰 이벤트</a>
                                    </p>
                                    <dl>
                                        <dt>기간</dt>
                                            <dd>2020.12.15 ~ 2020.12.31</dd>
                                        <dt>경품</dt>
                                        <dd>경품 3종,할인 쿠폰 1장</dd>
                                        <dt>발표</dt>
                                        <dd>
                                            2021.01.04
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>
                    
                        <li>
                            <div class="box_event">
                                <a href="/jj" title="" class="wrap_thumb">
                                    <span class="thumb_frame"></span>
                                    
                                   	 
                                    <img width="194" height="146" src="" alt="배너 이미지">
                                   	
                                    <!-- <img src="/resource/image/web/sample/@image_232x108.jpg" width="232" height="108" alt="김성규 [INSIDE ME] 앨범 발매 이벤트 배너 이미지" /> -->
                                </a>
                                <div class="event_info">
                                    
                                
                                    <p class="gubun">[이벤트3]</p>
                                    <p class="eventname">
                                    	<a href="/uu" title="">크리스 마스 할인 이벤트</a>
                                    </p>
                                    <dl>
                                        <dt>기간</dt>
                                                <dd>2020.12.14 ~ 2020.12.28</dd>
                                            
                                            
                                        
                                        <dt>경품</dt>
                                        <dd>후드티 3명</dd>
                                        <dt>발표</dt>
                                        <dd>
                                            
                                            
                                                2021.01.07
                                            
                                            
                                            
                                            

                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>
						
						<li>
                            <div class="box_event">
                                <a href="/pp" title="" class="wrap_thumb">
                                    <span class="thumb_frame"></span>
                                    
                                   	 
                                    <img width="194" height="146" src="" alt="배너 이미지">
                                   	
                                    <!-- <img src="/resource/image/web/sample/@image_232x108.jpg" width="232" height="108" alt="김성규 [INSIDE ME] 앨범 발매 이벤트 배너 이미지" /> -->
                                </a>
                                <div class="event_info">
                                    
                                
                                    <p class="gubun">[이벤트4]</p>
                                    <p class="eventname">
                                    	<a href="/pp" title="">신발 할인 이벤트</a>
                                    </p>
                                    <dl>
                                        <dt>기간</dt>
                                                <dd>2020.12.14 ~ 2020.12.28</dd>
                                            
                                            
                                        
                                        <dt>경품</dt>
                                        <dd>후드티 3명</dd>
                                        <dt>발표</dt>
                                        <dd>
                                            
                                            
                                                2021.01.07
                                            
                                            
                                            
                                            

                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>
	                    
	                    
							
							
							
                </ul>
            </div>
        
        
    
</div>

<div class="wrap_paginate" id="wrap_paginate">
    
    <div class="paginate" id="paginate"><div class="paginate"><a href="javascript:;" class="btn_first disabled"><span>맨처음</span></a> <a href="javascript:;" class="btn_pre disabled"><span>이전</span></a> <span class="page_num"><strong><span class="none">현재페이지</span>1</strong></span> <a href="javascript:;" class="btn_next disabled"><span>다음</span></a> <a href="javascript:;" class="btn_last disabled"><span>맨끝</span></a></div></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
$('#paginate').html("\u003Cdiv class=\"paginate\"\u003E\u003Ca href=\"javascript:;\" class=\"btn_first disabled\"\u003E\u003Cspan\u003E맨처음\u003C\/span\u003E\u003C\/a\u003E \u003Ca href=\"javascript:;\" class=\"btn_pre disabled\"\u003E\u003Cspan\u003E이전\u003C\/span\u003E\u003C\/a\u003E \u003Cspan class=\"page_num\"\u003E\u003Cstrong\u003E\u003Cspan class=\"none\"\u003E현재페이지\u003C\/span\u003E1\u003C\/strong\u003E\u003C\/span\u003E \u003Ca href=\"javascript:;\" class=\"btn_next disabled\"\u003E\u003Cspan\u003E다음\u003C\/span\u003E\u003C\/a\u003E \u003Ca href=\"javascript:;\" class=\"btn_last disabled\"\u003E\u003Cspan\u003E맨끝\u003C\/span\u003E\u003C\/a\u003E\u003C\/div\u003E")
});
</script>

<script type="text/javascript">

if(typeof pageObj !== "undefined"){
    pageObj.addParam("paging", "Y");
    pageObj.addParam("gubunId","");
    // 검색으로 페이징
    if ( "" != "" ) {
        pageObj.addParam("keyword",encodeURIComponent(""));
    }
}

if( "" != "" ){
	$(".search_totcnt").html('<p><strong class="fc_serch"></strong> 검색결과 <strong class="fc_strong">총 <span class="fc_point">9</span>개</strong></p>');
}
</script>
	             		</div>
	                </div>
	                <div id="pageObjNavgation" style=""></div>
<script src="/resource/script/common/jquery.ba-bbq.min.js" type="text/javascript"></script>
<script src="/resource/script/common/historypager.js" type="text/javascript"></script>
<script type="text/javascript">
var pageObj = new Pagination('/event/index.htm', 'wrap_event_list', 'pageObjNavgation', '20', 'pageObj', false);
</script>

					<script type="text/javascript">
					    pageObj.addParam("paging", "Y");
					    pageObj.addParam("gubunId","");
					    // 검색으로 페이징
					    if ( "" != "" ) {
					        pageObj.addParam("keyword",encodeURIComponent($("#keyword").trimVal()));
					    }
					    //목록전환
					    fn_back_list = function() { window.location.href = "/event/index.htm?gubunId="; }
					</script>
					<!-- //진행중인 이벤트 리스트 -->
				</div>
<!-- //contents -->



<script type="text/javascript" src="https://cdnimg.melon.co.kr/static/web/resource/script/w1/0i/p/1ec0iixwb57.js"></script>

	<script type="text/javascript">
		var melon = MELON.WEBSVC.POC;
		document.domain="melon.com";

    // 상단 자동롤링 배너
    $('div.wrap_event_baner').eventBanner();

    // 검색 함수
    fn_search_list = function() {
        if (WEBSVC.valid.require($("#keyword").trimVal())) {

            if ( !(/^[0-9a-zA-Z가-힣]+$/).test($("#keyword").trimVal()) ) {
                alert("정확한 검색어를 입력해 주세요.");
                $("#keyword").focus();
                $("#keyword").select();
                return;
            }

            pageObj.addParam("paging","Y");
		    pageObj.addParam("keyword",encodeURIComponent($("#keyword").trimVal()));
		    pageObj.addParam("gubunId","");
		    pageObj.sendPage('1');

        } else {
            alert("검색어를 입력해 주세요.");
            $("#keyword").focus();
            return;
        }
    }

    $('#keyword').bind('keydown', function(e) {
        if (e.which == 13) {
            fn_search_list();
        }
    });
});
</script>

			<!-- //contents -->
		</div>
	</div>
</body>
</html>